<!-- Footer -->
<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div id="copyright">
                    <a>&copy; @Config.SiteName. All rights reserved. | Design: Pochti sam</a>
                </div>

            </div>
        </div>
    </div>
</div>