@using lab2.Service
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
@if (ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>@Config.SiteName</title>
}
@if (ViewBag.Description != null)
{
    <meta name="description" content="@ViewBag.Descripton" />
}
@if (ViewBag.Description != null)
{
    <meta name="keywords" content="@ViewBag.Keywords" />
}